[submodule "Arducom"]
	path = Arducom
	url = https://github.com/leomeyer/Arducom.git
[submodule "opdi_core"]
	path = opdi_core
	url = https://github.com/leomeyer/opdi_core.git
	branch = master
	ignore = dirty
[submodule "libraries/Mongoose"]
	path = libraries/Mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "libraries/exprtk"]
	path = libraries/exprtk
	url = https://github.com/ArashPartow/exprtk.git
[submodule "libraries/rpi/wiringPi"]
	path = libraries/rpi/wiringPi
	url = https://github.com/WiringPi/WiringPi
[submodule "libraries/rpi/gertboard"]
	path = libraries/rpi/gertboard
	url = https://github.com/leomeyer/gertboard_sw.git
[submodule "libraries/rpi/raspberry-remote"]
	path = libraries/rpi/raspberry-remote
	url = https://github.com/xkonni/raspberry-remote.git
[submodule "openhatd/plugins/WebServerPlugin/webdocroot/opdi_assets"]
	path = openhatd/plugins/WebServerPlugin/webdocroot/opdi_assets
	url = https://github.com/leomeyer/opdi_assets.git
[submodule "libraries/paho"]
	path = libraries/paho.mqtt.cpp
	url = https://github.com/eclipse/paho.mqtt.cpp.git
[submodule "libraries/paho.mqtt.c"]
	path = libraries/paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c.git
