[submodule "Arducom"]
	path = Arducom
	url = https://github.com/leomeyer/Arducom.git
[submodule "opdi_core"]
	path = opdi_core
	url = https://github.com/leomeyer/opdi_core.git
[submodule "libraries/Mongoose"]
	path = libraries/Mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "libraries/exprtk"]
	path = libraries/exprtk
	url = https://github.com/ArashPartow/exprtk.git
[submodule "src/libraries/rpi/wiringPi"]
	path = src/libraries/rpi/wiringPi
	url = git://git.drogon.net/wiringPi
[submodule "src/libraries/rpi/gertboard"]
	path = src/libraries/rpi/gertboard
	url = https://github.com/ChrisCummins/gertboard_sw.git
[submodule "src/libraries/rpi/raspberry-remote"]
	path = src/libraries/rpi/raspberry-remote
	url = https://github.com/xkonni/raspberry-remote.git
